body {
  margin: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#game-container {
  position: relative;
  width: 560px; /* 28 colonnes*/
  height: 520px; /* 31 lignes */
  border: 2px solid white; /* contour blanc */
}

/* Chaque case */
.cell {
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
}

/* Types de cases */
.wall { 
  background-color: #000; /* murs noirs */
}

.empty { 
  background-color: #00f; 
}

/* Pac-Man */
#pacman {
  width: 20px;  /* taille de la case */
  height: 20px;
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
}

.pacgomme {
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#score {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-family: sans-serif;
  font-size: 20px;
  z-index: 20;
}
