body {
  margin: 0;
  background: black;
  overflow: hidden;
}

#game-container {
  position: relative;
  width: 560px; /* 28 colonnes * 20px */
  height: 520px; /* 26 lignes * 20px */
  margin: auto;
  border: 2px solid white;
}

#score {
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

#overlay {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 10px auto; /* centré sous la map */
  font-size: 18px;
  font-weight: bold;
  color: white;
  z-index: 1000; /* juste au cas où */
}

#startScreen {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  z-index: 2000; /* au-dessus de la map mais overlay reste visible si z-index plus bas */
}

.cell {
  position: absolute;
  width: 20px;
  height: 20px;
}

.wall {
  background-color: #000;
}

.empty {
  background-color: blue  ;
}

.pacgomme {
  position: absolute;
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

#pacman {
  position: absolute;
  width: 20px;
  height: 20px;
  background: yellow;
  border-radius: 50%;
}

.ghost {
  width: 20px;
  height: 20px;
  background: red; 
  border-radius: 50%;
  position: absolute;
}
