body {
  margin: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#game-container {
  display: grid;
  grid-template-columns: repeat(28, 20px);
  grid-template-rows: repeat(31, 20px);
  gap: 0;
  position: relative;
}

/* Cases */
.cell {
  width: 20px;
  height: 20px;
}

.wall {
  background-color: black;
}

.empty {
  background-color: blue;
}

/* Pac-Man */
#pacman {
  width: 20px;
  height: 20px;
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  transition: top 0.1s, left 0.1s;
}
